{% extends "auctions/layout.html" %}

{% block title %}Listing{% endblock %}

{% block body %}
    <h2 class="page-title">Active Listings</h2>

    <div class="listing-block">
        {% for lot in active_listings %}
            <div class="in-listing-block">
                <div class="lot-block">
                    <div class="container container-md-12">
                        <div class="row">
                            <div class="col-md-6 lot-image-block">
                                <span class="lot-image"></span><img src="{{ lot.image.url }}" alt="{{ lot.image.title }}" class="rounded img-fluid">
                            </div>
                            <div class="col-md-6">
                                <a href="/auctions/id={{ lot.id }}"><h4>{{ lot.name }}</h4></a>
                                <h5>${{ lot.current_bid }}</h5>
                                <div>{{ lot.description }}</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>

{% endblock %}